/**************/
/* CSS REMEDY */
/*
*, *::after, *::before {
  box-sizing:border-box;  
}
*/



/*********************/
/* CUSTOM PROPERTIES */
/*
:root {
	--color-text:#111;
	--color-background:#eee;
}
*/


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
  font-family: Kopjes;
  src: url("../fonts/nexa-heavy.ttf");
}

@font-face {
  font-family: Speciaal;
  src: url("../fonts/atypdisplay-medium.ttf");
}

@font-face {
  font-family: Bodytekst;
  src: url("../fonts/cerebri-sans-regular.ttf");
}

*{
  	margin: 0;
  	padding: 0;
}

img{
	width: 100px;
}

/*Header*/
/*de melding bovenaan de pagina*/
.notification{
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	width: 100%;
  	height: 6vh;
  	position:absolute;
  	top: 0;
  	padding: 25px 20px;
  	background-color: #d50aae;
  	box-sizing: border-box;
  	justify-content: center;
}

/*!Notification a styling nog aanpassen met font*/

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	background-color: transparent;
	position: absolute; /*was og fixed zodat het meescrolt, wnnr javascript dan veranderen*/
	top: 60px;
	width: 100%;
}

.nav ul{
	list-style-type: none;
	display: flex;
}

.nav li{
  	text-decoration: none;
	padding: 0.5em;
}

.nav li img{
	width: 1.3em;
}

img{
	width: 5.5em;
}

.nav div a img{
	padding: 0 50px;
}

button {
	background-color: transparent;
  	border: none;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	color: #f1f1f1;
  	font-size: 16px;
  	cursor: pointer;
}

button img, li img {
 	width: 25px;
}

/*Hamburger menu*/
/*bron: https://www.w3schools.com/howto/howto_js_curtain_menu.asp*/
.overlay{
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
	height: 100%;
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	background-color: rgb(0,0,0); /* Black fallback color */
  	overflow-x: hidden; /* Disable horizontal scroll */
  	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  	position: relative;
  	top: 25%; /* 25% from the top */
  	width: 100%; /* 100% width */
  	margin: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  	display:flex;
  	flex-direction: column;
  
}

/* The navigation links inside the overlay */
.overlay a {
  	padding: 8px;
  	text-decoration: none;
  	font-size: 36px;
  	color: #818181;
  	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  	position: absolute;
  	top: 20px;
  	right: 45px;
  	font-size: 60px;
}
/*Header_Einde*/

/*Main*/
/*Section 1*/
.section1{
  	background-image: url("../images/homepage-bkg-img.png");
  	background-size: cover;  
  	background-position: center; 
  	background-repeat: no-repeat; 
  	height: 100vh;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	text-align: center;
  	padding-top: 8em;
  	color: #ffffff;
	font-family: Kopjes,Arial, Helvetica, sans-serif;
	line-height: 40px;
	font-size: 20px;
}

h1{
	margin: 0.5em 0;
	font-family: Kopjes,Arial, Helvetica, sans-serif;
	font-size: 30px;
	width: 75%;
}

.LinkButton{
	background-color: #ffffff; 
  	color: rgb(111, 14, 150); 
  	padding: 10px 25px; 
	width: 70%;
  	text-align: center;
  	text-decoration: none; 
  	border-radius: 30px; 
  	cursor: pointer; 
	margin: 0.5em 0;
	font-family: Kopjes, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
/*Section 1_Einde*/

/*Section 2*/
/*bron1: https://www.youtube.com/watch?v=2_E5uoiLCLY
bron2: https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp
bron3: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/overflow-x#:~:text=The%20overflow%2Dx%20CSS%20property,using%20the%20overflow%20shorthand%20property.*/
.productCarousel {
	background-color: rgb(218, 217, 255);
	width: 100%;
	overflow-x: auto;        
	white-space: nowrap;
}

.productCarousel ul {
	display: flex;
	gap: 20px;
	padding: 25px 20px;
	list-style: none;
}

.productCarousel li {
	text-align: center;
	display: flex;
  	flex-direction: column-reverse;
}

.productCarousel li h2 {
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 200;
}

.productCarousel img {
	width: 7em;
}
/*Section 2_Einde*/

/*Section 3*/
.subscribe{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to bottom,  rgb(200,240,255) 0%,  rgb(212,190,255) 20%);
	padding: 25px 20px;
}

.subscribe img{
	width: 100%;
	border-radius: 15px;
	margin-bottom: 2em;
}

.subscribe h2{
  	text-align: left;
  	color: rgb(63,7,145);
	font-family: Kopjes, Arial, Helvetica, sans-serif;
	line-height: 35px;
	font-size: 30px;
}

.subscribe p{
	align-self: flex-start;
  	color: rgb(63,7,145);
	font-family: Speciaal, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 25px 0;
}

.subscribe ul{
	display: flex;
	flex-direction: column;
	
}

.subscribe li{
	display: flex;
	flex-direction: row;
  	text-align: left;
	align-items: center;
  	color: rgb(63,7,145);	
}

.subscribe li img{
	width: 40px;
	margin: 0 7px 15px 0;
}

.subscribe li p{
	margin: 0;
	font-size: 16px;
}

.subscribe .LinkButton{
	background-color: rgb(63,7,145);
	color: #ffffff;
	width: 85%;
}
/*Section 3_Einde*/