
@font-face {
	font-family: Kopjes;
	src: url("../fonts/nexa-heavy.ttf");
}
@font-face {
	font-family: Speciaal;
	src: url("../fonts/atypdisplay-medium.ttf");
}
@font-face {
	font-family: Outlined;
	src: url("../fonts/florencesans-sc-outline.ttf");
}
@font-face {
	font-family: Bodytekst;
	src: url("../fonts/cerebri-sans-regular.ttf");
}


*{
  	margin: 0;
  	padding: 0;
}

img{
    width: 100px;
    height: auto;
}

/*Header*/
/*de melding bovenaan de pagina*/
.notification{
  	display: flex;
  	flex-direction: row;
  	align-items: center;
	text-align: center;
  	width: 100%;
  	height: 6vh;
  	padding: 25px 25px;
  	background-color: #d50aae;
  	box-sizing: border-box;
  	justify-content: center;
}

.notification p{
	color: rgb(255, 255, 255);
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 15px;
    text-decoration: none;
}

nav{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	background-color: rgb(223,183,228);
	position: relative;
	width: 100%;
    padding: 20px 0;
}

nav ul{
	list-style-type: none;
	display: flex;
}

nav li{
  	text-decoration: none;
	padding: 0.4em;
}

nav li img{
	width: 1.2em;
}

nav img{
	width: 5.5em;
}

nav div a img{
	padding: 0 50px;
}

button {
	background-color: transparent;
  	border: none;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	color: #000000;
  	font-size: 16px;
  	cursor: pointer;
}

button img, li img {
 	width: 25px;
}

/*Hamburger menu*/
/*bron: https://www.w3schools.com/howto/howto_js_curtain_menu.asp*/
.navOverlay{
	width: 100%;	
  	height: 100%;
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
	overflow-x: hidden;
  	background-color: rgb(255, 255, 255);
  	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the close button (top right corner) */
.navOverlay .closebtn {
  	position: absolute;
  	top: 25px;
  	right: 45px;
  	font-size: 45px;
}

.navOverlay-content {
  	position: relative;
  	top: 15%;
  	width: 100%;
  	display:flex;
  	flex-direction: column;
	align-items: center;
}

.navOverlay-content ul{
	list-style: none;
	margin: 0 20px;
}

.navOverlay-content li{
	border-bottom-style: solid;
	border-width: 1.5px;
  	color: rgb(63,7,145);
	padding: 10px 0;
	display:flex;
  	flex-direction: column;
	align-items: center;
}

.navOverlay-content li a{
  	display:flex;
  	flex-direction: row;
	align-items: center;
	justify-content: left;
	text-decoration: none;
    font-family: Kopjes,Arial, Helvetica, sans-serif;
}

.navOverlay-content li a img{
	width: 25%;
	height: 25%;
	margin: 0 20px 0 0;
}

.navOverlay-content li a h2{
	font-family: Kopjes,Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(63,7,145);
	text-transform: uppercase;
}

.navOverlay-content .LinkButton{
    width: 300px;
	height: 30px;
	margin: 20px 0 0.5em 0;
  	background: rgb(63,7,145);
  	color: white;
  	border-radius: 40px;
 	text-decoration: none;
  	font-size: 16px;
  	font-weight: bold;
	text-align: center;
    text-transform: uppercase;
  	flex-direction: row;
	align-items: center;
	text-decoration: none;
	justify-content: center;
    padding: 10px 25px;
}

.navOverlay-content .LinkButton img{
	width: 15px;
	height: 15px;
	padding-left: 5px;
	margin: 0;
}
.navOverlay-content div ul{
	list-style: none;
	display: grid;
  	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
}

.navOverlay-content div li{
  	width: 100%;
	height: 40px;
  	aspect-ratio: 1 / 1;
  	object-fit: cover;
  	display: block;
	border: none;
	margin: 0 30px;
	font-family: Kopjes,Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: rgb(63,7,145);
	text-transform: uppercase;
	justify-content: center;
	padding: 15px 0;
	margin: 0;
	text-align: center;
}

.navOverlay-content div li a{
	display: flex;
	justify-content: center;
}

.navOverlay-content .navReview{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	padding: 20px;
	background-color: #f9ef8c;
	border-radius: 10px;
}

.navOverlay-content .navReview p{
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #3f0791;
    margin: 20px 0 5px 0;
}

.navOverlay-content .navReview div{
	display: flex;
	justify-content: center;
	align-items: baseline;
	text-align: center;
	gap: 5px;
}

.navOverlay-content .navReview div p{
	font-weight: bold;
}

.navOverlay-content .navReview div img{
	width: 15px;
	height: 15px;
}
/*Header_Einde*/


/*Main*/
/* Section 1_Detailpagina */
.productSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	background-image: linear-gradient(to bottom,  rgb(223,183,228) 0%,  rgb(191,121,220) 50%);
    padding: 0 20px;
}

.productSection .productIMG{
	width: 80%;
}

.productSection ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productSection li button img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(63,7,145);
    margin: 45px 5px 45px 5px;
}

.productSection .productDetails{
    margin-bottom: 45px;
}

.productSection .productDetails h1{
  	text-align: left;
  	color: rgb(63,7,145);
	font-family: Outlined, Arial, Helvetica, sans-serif;
	line-height: 35px;
	font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
}

.productSection .productDetails h2{
  	color: rgb(63,7,145);
	font-family: Kopjes, Arial, Helvetica, sans-serif;
	line-height: 35px;
	font-size: 20px;
    margin-bottom: 10px;
}

.productSection .productDetails a{
    display: flex;
    align-items: center;
    justify-content: left;
    color: rgb(63,7,145);
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    text-decoration: none;
}

.productSection .productDetails a img{
  	width: 100px;
    height: auto;
    padding-right: 5px;
}

.productSection .productDetails .description{
    font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 15px;
    line-height: 20px;
    color: rgb(63,7,145);
    margin-bottom: 35px;
}

.productSection .productDetails button{
    font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 15px;
    color: rgb(63,7,145);
    text-decoration: underline;
    margin-bottom: 10px;
}

.productSection .productDetails .nutritionList{
    list-style: none;
	display: grid;
  	grid-template-columns: 1fr 1fr;
    margin-bottom: 30px 0;
}

.productSection .productDetails .nutritionList li{
	width: 80%;
    font-family: Bodytekst,Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(63,7,145);
	padding: 5px 0;
}

.productSection .productDetails .nutritionList li img{
	width: 15px;
    margin-right: 5px;
}

.productSection .chooseFlavour{
    width: 100%;
}

.productSection .chooseFlavour h3{
    font-family: Bodytekst,Arial, Helvetica, sans-serif;
	font-size: 14px;
    text-transform: uppercase;
	color: rgb(63,7,145);
    margin-bottom: 20px;
    text-align: left;
}

.productSection .chooseFlavour .flavourList{
    width: 100%;
    list-style: none;
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 30px 0;
    align-items: start;
    justify-content: center;
}

.productSection .chooseFlavour .flavourList a{
    text-decoration: none;
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productSection .chooseFlavour .flavourList img{
    width: 60px;
    height: 60px;
}

.productSection .chooseFlavour .flavourList p{
    font-family: Bodytekst, Arial, Helvetica, sans-serif;
	font-size: 10px;
    text-decoration: none;
	color: rgb(63,7,145);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/*bron1: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:nth-child
bron2: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/drop-shadow#:~:text=The%20drop%2Dshadow()%20CSS,a%20.*/
.flavourList li:nth-child(6) {
	background-image: linear-gradient(to bottom,  rgb(153,55,238) 0%,  rgb(95,4,237) 50%);
    border-radius: 10px;
    margin-bottom: 5px;
    filter: drop-shadow(2px 5px 4px #00000051);
}

.flavourList li:nth-child(6) a p {
	color: rgb(255, 255, 255);
}

/* Section 1_Detailpagina einde */






/* Section 7_Footer*/
footer{
	background-color: rgb(0,0,0);
}

footer section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 60px 20px; 
}

footer .LinkButton{
	background: transparent;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
  	color: white;
  	border-radius: 40px;
  	text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  	font-size: 18px;
  	font-weight: bold;
	width: 130px;
	margin-bottom: 17px;
    padding: 15px 25px;
    margin: 0.5em 0;

}

footer h2, footer p{
	color: rgb(255, 255, 255);
}

footer p{
	font-size: 13px;
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
}

footer h2{
	font-size: 19px;
	font-family: Speciaal, Arial, Helvetica, sans-serif;
	font-weight: 500;
}

footer ul:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center; 
	margin-bottom: 25px;
    gap: 15px;                
}

footer ul li{
	list-style: none;
}

footer li a img{
	width: 30px;
	height: 30px;
	margin: 0 0 15px 0;
}

footer ul:last-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;          
    justify-content: center; 
    text-align: center;
	gap: 4px;
	padding: 0 8px;
	margin: 20px 0;
	line-height: 12px;
}

footer li a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 13px;
	font-family: Bodytekst, Arial, Helvetica, sans-serif;
}

footer form{
	display: flex;
	flex-direction: column;
}

footer form input{
	background: transparent;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
  	color: white;
  	border-radius: 40px;
  	text-decoration: none;
	text-align: center;
  	font-size: 18px;
  	font-weight: bold;
	width: 300px;
	height: 50px;
	margin-bottom: 20px;
}

footer form input::placeholder{
	color: #cac4f4de;
}

footer img{
	width: 125px;
	margin: 25px 0;
}
/* Section 7 einde */






